{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Hi, {{ current_user.username }}!</h1>

    {% if form %}
    <form action="{{ url_for('index') }}" method="post">
        {{ form.hidden_tag() }}

        <label>{{ form.post.label }}</label>
        {{ form.post() }}

        <!-- Form Errors -->
        {% if form.post.errors %}
            {% for error in form.username.errors %}
               {{ error }}
            {% endfor %}
        {% endif %}
        <br>
        {{ form.submit() }}
    </form>
    {% endif %}

    {% include "_posts.html" %}

    {% if previous_url %}
        <a href=" {{ previous_url }}">Newer Posts</a>
    {% endif %}

    {% if next_url %}
        <a href=" {{ next_url }}">Older Posts</a>
    {% endif %}
</div>


{% endblock %}